<!DOCTYPE html>
<html lang="en">

    <div th:replace="fragments/header :: head(title='Data Question')"></div>

    <body class="animsition">
        <div class="page-wrapper">
            <div th:replace="fragments/header :: header_mobile"></div>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <div th:replace="fragments/header :: header_desktop"></div>
                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="overview-wrap">
                                        <h2 class="title-1">Category Name</h2>
                                        <button type="button" class="au-btn au-btn-icon au-btn--green" data-toggle="modal" data-target="#addModal">
                                            <i class="zmdi zmdi-plus"></i>Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="m-t-25">

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#questionModal" onclick="insert();"> 
                                    Insert Data
                                </button>
                                
                                <table class="table" id="questionTable">
                                    <thead>
                                        <tr>    
                                            <th scope="col">Id</th>
                                            <th scope="col">Question</th>
                                            <th scope="col">a</th>
                                            <th scope="col">b</th>
                                            <th scope="col">c</th>
                                            <th scope="col">d</th>
                                            <th scope="col">Answer</th>
                                            <th>Action</th>    
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tbody>
                                        <!--                                        <tr th:each="as : ${questionss}">
                                                                                    <td th:text = "${as.id}"></td> 
                                                                                    <td th:text = "${as.question}"></td> 
                                                                                    <td th:text = "${as.a}"></td> 
                                                                                    <td th:text = "${as.b}"></td> 
                                                                                    <td th:text = "${as.c}"></td> 
                                                                                    <td th:text = "${as.d}"></td> 
                                                                                    <td th:text = "${as.answer}"></td> 
                                                                                    <td>
                                                                                        <a th:href="@{getIdQuestion/{id} (id=${as.id})}" class="btn btn-sm btn-success">Send Code <span class="fas fa-envelope"></span></a>
                                                                                    </td> 
                                        
                                                                                </tr> -->
                                    </tbody>
                                </table>
                            </div>
                            <div th:insert="component/modal :: modal"></div>
                            <div th:replace="fragments/footer :: footer"></div>
                        </div>
                    </div>
                </div>
                <!-- END MAIN CONTENT-->
                <!-- END PAGE CONTAINER-->
            </div>

        </div>

        <div th:replace="fragments/footer :: script"></div>

    </body>

</html>
<!-- end document-->
