<!DOCTYPE html>
<html lang="en">

    <div th:replace="fragments/user-header :: head(title='History Exam')"></div>

    <body class="animsition">
        <div class="page-wrapper">
            <div th:replace="fragments/user-header :: header"></div>
            <!-- WELCOME-->
            <section class="welcome2 p-t-40 p-b-55">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb3">
                                <div class="au-breadcrumb-left">
                                    <span class="au-breadcrumb-span">You are here:</span>
                                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                                        <li class="list-inline-item active">
                                            <a href="#">Home</a>
                                        </li>
                                        <li class="list-inline-item seprate">
                                            <span>/</span>
                                        </li>
                                        <li class="list-inline-item">History Exam</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="welcome2-inner m-t-60">
                                <div class="welcome2-greeting">
                                    <h1 class="title-6">Hi
                                         <span th:text='${name}'></span>, Welcome back</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </div>
                                <form class="form-header form-header2" action="" method="post">
                                    <input class="au-input au-input--w435" type="text" name="search" placeholder="Search for datas &amp; reports...">
                                    <button class="au-btn--submit" type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->

            <!-- PAGE CONTENT-->
            <div class="page-container3">
                <section class="alert-wrap p-t-10 p-b-10">
                    <div class="container">
                    </div>
                </section>
                <section class="m-t-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-3">
                                <div th:replace="fragments/user-header :: sidebar"></div>
                            </div>
                            <div class="col-xl-9">
                                <!-- PAGE CONTENT-->
                                <div class="page-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- DATA TABLE-->
                                            <div class="table-responsive m-b-40">
                                                <table class="table table-borderless table-data3" id="examHistory">
                                                    <thead>
                                                        <tr>
                                                            <!--<th>User_ID</th>-->
                                                            <th>Code</th>
                                                            <th>Date</th>
                                                            <th>Start</th>
                                                            <th>End</th>
                                                            <th>Score</th>
                                                            <th>Grade</th>
                                                            <th>HAS PASSED</th>
                                                            <th style="width: 10;">Option</th>
                                                        </tr>
                                                    </thead> 
                                                    <tbody>
                                                        <tr th:each = "history : ${exam}">
<!--                                                            <td th:text = "${history.user}"></td>-->
                                                            <td th:text = "${history.code}"></td>
                                                            <td th:text = "${history.date}"></td>
                                                            <td th:text = "${history.start}"></td>
                                                            <td th:text = "${history.end}"></td>
                                                            <td th:text = "${history.score}"></td>
                                                            <td th:text = "${history.grade}"></td>
                                                            <td th:text = "${history.hasPassed}"></td>
                                                            <td><a href="#"><span class="fas fa-eye"></span></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- END DATA TABLE                  -->
                                        </div>
                                    </div>
                                    <div th:replace="fragments/user-footer :: footer"> </div>
                                </div>
                                <!-- END PAGE CONTENT-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END PAGE CONTENT  -->

        </div>

        <div th:replace="fragments/user-footer :: script"></div>

    </body>

</html>
<!-- end document-->