<!DOCTYPE html>
<html lang="en">

    <div th:replace="fragments/user-header :: head(title='History Exam')"></div>

    <body class="animsition">
        <div class="page-wrapper">
            <div th:replace="fragments/user-header :: header(title='History Exam')"></div>
            <!-- PAGE CONTENT-->
            <div class="page-container3">
                <section class="alert-wrap p-t-10 p-b-10">
                    <div class="container">
                    </div>
                </section>
                <section class="m-t-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-3">
                                <div th:replace="fragments/user-header :: sidebar"></div>
                            </div>
                            <div class="col-xl-9">
                                <!-- PAGE CONTENT-->
                                <div class="page-content">
                                    <div class="row">
                                        <center>
                                            <div class="flex-container">
                                                <button class="btn btn-light" onclick="getModule('cpp')">
                                                    <img class="logo-container" src="images/logo-CPP.png" style="heigth: 80px; width: 80px;">
                                                </button>
                                                <div>
                                                    <hr class="line-dashed">
                                                </div>
                                                <button class="btn btn-light" onclick="getModule('DOT')">
                                                    <img class="logo-container" src="images/logo-NET.png" style="heigth: 80px; width: 80px;">
                                                </button>
                                                <div>
                                                    <hr class="line-dashed">
                                                </div>
                                                <button class="btn btn-light" onclick="getModule('HTM')">
                                                    <img class="logo-container" src="images/logo-HTML.png" style="heigth: 80px; width: 80px;">
                                                </button>
                                                <div>
                                                    <hr class="line-dashed">
                                                </div>
                                                <button class="btn btn-light" onclick="getModule('JAV')">
                                                    <img class="logo-container" src="images/logo-java.png" style="heigth: 80px; width: 80px;">
                                                </button>
                                                <div>
                                                    <hr class="line-dashed">
                                                </div>
                                                <button class="btn btn-light" onclick="getModule('REA')">
                                                    <img class="logo-container" src="images/logo-REACT.png" style="heigth: 80px; width: 80px;">
                                                </button>
                                            </div>
                                        </center>
                                    </div>
                                    <div class="row">
                                        <div class="container">
                                            <div class="timeline">
                                                <div class="timeline-month">
                                                    History Exam
                                                </div>
                                                <div id="module">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:replace="fragments/user-footer :: footer"> </div>
                    </div>
                    <!-- END PAGE CONTENT-->




                </section>
            </div>
            <!-- END PAGE CONTENT  -->
        </div>
        <div th:replace="fragments/user-footer :: script"></div>

    </body>
    <script>
//        getModule('CPP');
        function getModule(id) {
            $("#module").html("");
            $.ajax({
                'async': false,
                'type': "GET",
                'global': false,
                'url': "/historyExam/" + id,
                'data': {id: id},
                'success': function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#module").append('\<div class="timeline-section">\
                                                <div class="timeline-date">\
                                                    '+data[i].date+'\
                                                 </div>\
                                                    <div class="row">\
                                                        <div class="col-sm-4">\
                                                            <div class="timeline-box">\
                                                            <div class="box-title">\
                                                                <i class="fa fa-asterisk text-success" aria-hidden="true"></i>\
                                                            </div>\
                                                            <div class="box-content">\
                                                                <div class="box-item text-white"><strong>Score</strong>: '+data[i].score+'</div>\
                                                                <div class="box-item text-white"><strong>Grade</strong>: '+data[i].grade+'</div>\
                                                                <div class="box-item text-white"><strong>Status</strong>: '+ if(data[i].hasPassed == true) "Passed" else "Failed"  data[i].hasPassed+'? 'text-success' : 'text-danger' '+data[i].hasPassed+'? 'Passed' : 'Failed'</div>\
                                                            </div>\
                                                            <div class="box-footer"></div>\
                                                        </div>\
                                                    </div>\
                                                </div>\
                                            </div>');
                    }
                }
            });
        }
        ;

    </script>
</html>
<!-- end document-->