<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Mitra Integrasi Informatika - Exam Online</title>
        <meta content="" name="descriptison">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="assets/img/mii.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="assets/css/style.css" rel="stylesheet">

        <!-- =======================================================
        * Template Name: Vlava - v2.1.0
        * Template URL: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>

    <body>

        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top d-flex align-items-center header-transparent">
            <div class="container d-flex align-items-center">

                <div class="logo mr-auto">
                    <h1 class="text-light"><a href="index.html"><img src="assets/img/mii_land.png" height="40" width="190"></a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
                </div>

                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#category">Category</a></li>
                        <li><a href="#testimonials">Testimonial</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="ml-3 mr-3"><a th:href="@{/register}" class="btn btn-success text-light">Register  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>

                    </ul>
                </nav><!-- .nav-menu -->

            </div>
        </header><!-- End Header -->

        <!-- ======= Hero Section ======= -->
        <section id="hero">
            <div class="hero-container">
                <div th:remove="tag" th:utext='${jumbotron}'></div>
                <div th:remove="tag" th:utext='${jumbotronSub}'></div>
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
        </section><!-- End Hero -->

        <main id="main">

            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="container">

                    <div class="row content">
                        <div class="col-lg-6">
                            <div th:remove="tag" th:utext='${aboutTitle}'></div>
                            <div th:remove="tag" th:utext='${aboutSub}'></div>
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0">
                            <div th:remove="tag" th:utext='${aboutRightSub}'></div>
                            <ul>
                                <div th:remove="tag" th:utext='${aboutRightPoint}'></div>
                            </ul>
                            <i th:remove="tag" th:utext='${aboutRightItalic}'></i>
                        </div>
                    </div>

                </div>
            </section><!-- End About Section -->

            <!-- ======= Category Section ======= -->
            <section id="category" class="services section-bg">
                <div class="container">

                    <div class="section-title">
                        <h2>Category</h2>
                        <div th:remove="tag" th:utext='${categorySub}'></div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="icofont-brand-java"></i></div>
                            <h4 class="title"><a href="">Java</a></h4>
                            <p class="description">
                                <span th:remove="tag" th:utext='${java}'></span>
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="icofont-file-html5"></i></div>
                            <h4 class="title"><a href="">HTML</a></h4>
                            <p class="description">
                                <span th:remove="tag" th:utext='${html}'></span>
                            </p>
                       </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="icofont-code"></i></div>
                            <h4 class="title"><a href="">C++</a></h4>
                            <p class="description">
                                <span th:remove="tag" th:utext='${cpp}'></span>
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="icofont-file-javascript"></i></div>
                            <h4 class="title"><a href="">React</a></h4>
                            <p class="description">
                                <span th:remove="tag" th:utext='${react}'></span>
                            </p>
                       </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="icofont-brand-microsoft"></i></div>
                            <h4 class="title"><a href="">.NET</a></h4>
                            <p class="description">
                                <span th:remove="tag" th:utext='${net}'></span>
                            </p>
                       </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="icofont-snake"></i></div>
                            <h4 class="title"><a href="">Phyton</a></h4>
                            <p class="description">
                                <span th:remove="tag" th:utext='${phyton}'></span>
                            </p>
                       </div>
                    </div>

                </div>
            </section><!-- End Category Section -->

            <!-- ======= Testimonials Section ======= -->
            <section id="testimonials" class="testimonials">
                <div class="container">

                    <div class="owl-carousel testimonials-carousel">

                        <div class="testimonial-item" th:each="as : ${testimonials}">
                            <img src="assets/img/testimonials/images.png" class="testimonial-img" alt="">
                            <h3 th:text="${as.userLocal.name}"></h3>
                            <h4 th:text="${as.profession}"></h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                <span th:text="${as.subtext}"></span>
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                    </div>

                </div>
            </section><!-- End Testimonials Section -->

            <!-- ======= Team Section ======= -->
            <section id="team" class="team section-bg">
                <div class="container">

                    <div class="section-title">
                        <h2>Team</h2>
                        <div th:remove="tag" th:utext='${teamSub}'></div>
                    </div>

                    <div class="row d-flex justify-content-center">

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member">
                                <div class="member-img">
                                    <img src="assets/img/team/1.jpeg" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Yosefa Dia</h4>
                                    <span>Application Developer</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member">
                                <div class="member-img">
                                    <img src="assets/img/team/2.jpeg" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Nathaniel Ray</h4>
                                    <span>Application Developer</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member">
                                <div class="member-img">
                                    <img src="assets/img/team/3.jpg" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Yogi Pratama</h4>
                                    <span>Application Developer</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Team Section -->

            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact section-bg">
                <div class="container">

                    <div class="section-title">
                        <h2>Contact</h2>
                        <div th:remove="tag" th:utext='${contactSub}'></div>
                    </div>
                </div>
                <div class="map">                    
                    <iframe style="border:0; width: 100%; height: 350px;" th:src='${mapLink}' width="600" height="450" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="container">
                    <div class="row mt-5 justify-content-center">

                        <div class="col-lg-10">

                            <div class="info-wrap">
                                <div class="row">
                                    <div class="col-lg-4 info">
                                        <i class="icofont-google-map"></i>
                                        <h4>Location:</h4>
                                        <div th:remove="tag" th:utext='${location}'></div>
                                    </div>

                                    <div class="col-lg-4 info mt-4 mt-lg-0">
                                        <i class="icofont-envelope"></i>
                                        <h4>Email:</h4>
                                        <div th:remove="tag" th:utext='${email}'></div>
                                    </div>

                                    <div class="col-lg-4 info mt-4 mt-lg-0">
                                        <i class="icofont-phone"></i>
                                        <h4>Call:</h4>
                                        <div th:remove="tag" th:utext='${call}'></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </section><!-- End Contact Section -->

        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">

            <div class="footer-top">

                <div class="container">

                    <div class="row  justify-content-center">
                        <div class="col-lg-6">
                            <div th:remove="tag" th:utext='${footerTitle}'></div>
                            <div th:remove="tag" th:utext='${footerSub}'></div>
                        </div>
                    </div>

                    <div class="social-links">
                        <a href="https://web.facebook.com/MitraIntegrasiInformatika/?_rdc=1&_rdr" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="https://www.instagram.com/mii_metrodata/"  target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="https://id.linkedin.com/company/pt.-mitra-integrasi-informatika"  target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>

                </div>
            </div>

            <div class="container footer-bottom clearfix">
                <div class="copyright">
                    &copy; Copyright <strong><span>Vlava</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </footer><!-- End Footer -->

        <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

        <!-- Vendor JS Files -->
        <script src="assets/vendor/jquery/jquery.min.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>
        <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="assets/vendor/venobox/venobox.min.js"></script>

        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>

    </body>

</html>