<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Question</th>    
                        <th>A</th>    
                        <th>B</th>    
                        <th>C</th>    
                        <th>D</th>    
                        <th>Action</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="as : ${questions}">
                        <td th:text = "${as.id}"></td> 
                        <td th:text = "${as.question}"></td> 
                        <td th:text = "${as.a}"></td> 
                        <td th:text = "${as.b}"></td> 
                        <td th:text = "${as.c}"></td> 
                        <td th:text = "${as.d}"></td>
                        <td>
                            <!--<a th:href="@{${as.id}}">get</a>-->
                        </td> 
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
