<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Start Exam</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel="stylesheet" media="all">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel="stylesheet" media="all">
        <link href='../css/exam.css' rel="stylesheet" media="all">
    </head>
    <body>
        <div class="container mt-5">
            <div class="row">
                <div class="fixed-top mt-3 ml-3 col-md-3 col-lg-3">
                    <div class="border">
                        <div class="question bg-white p-3 border-bottom">
                            <div class="d-flex flex-row align-items-center question-title mb-1">
                                <h3 class="text-danger">Q</h3>
                                <h5 class="mt-1 ml-2">Information</h5>
                            </div>
                        </div>
                        <div class="question bg-white p-3 border-bottom">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <label class="col-md-12 control-label" for="Name"><i class="fa fa-user"></i>&nbsp; <span th:text="${name}"></span></label>  
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <label class="col-md-12 control-label" for="Name"><i class="fa fa-bookmark-o"></i>&nbsp; <span th:text="${module}"></span> (<span th:text="${duration}"></span> Minutes)</label>  
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <label class="col-md-12 control-label" for="Name"><i class="fa fa-clock-o"></i>&nbsp; <span id="demo"></span></label>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3"><</div>
                <div class="col-md-8 col-lg-8">
                    <div class="border">
                        <div class="question bg-white p-3 border-bottom">
                            <div class="d-flex flex-row justify-content-between align-items-center mcq">
                                <img src="../images/mii_land.png"  height="69" width="300" /><span>(Total Questions <span th:text="${countques}"></span>)</span>
                            </div>
                        </div>
                        <input type="hidden" id="module" th:value="${id}">
                        <div class="question bg-white p-3 border-bottom">
                            <div id="showQuestions">
                                <div class="d-flex flex-row align-items-center question-title mb-1">
                                    <h3 class="text-danger" id="number">.</h3>
                                    <h5 class="mt-1 ml-2" id="question"></h5>
                                </div>
                                <form id="frm" action="" method="POST" class="was - validated">
                                    <input type="hidden" class="form-check-input" id="id">
                                    <div class="form-check ml-3 mt-1">
                                        <input type="radio" value="a" class="form-check-input" id="a" name="materialExampleRadios">
                                        <label class="form-check-label" for="materialUnchecked" id="pila"><b>A. </b></label>
                                    </div>
                                    <div class="form-check ml-3  mt-1">
                                        <input type="radio" value="b" class="form-check-input" id="b" name="materialExampleRadios">
                                        <label class="form-check-label" for="materialChecked" id="pilb"><b>B. </b>' + questions[i].b + '</label>
                                    </div>
                                    <div class="form-check ml-3 mt-1">
                                        <input type="radio" value="c" class="form-check-input" id="c" name="materialExampleRadios">
                                        <label class="form-check-label" for="materialUnchecked" id="pilc"><b>C. </b>' + questions[i].c + '</label>
                                    </div>
                                    <div class="form-check ml-3 mt-1">
                                        <input type="radio" value="d" class="form-check-input" id="d" name="materialExampleRadios">
                                        <label class="form-check-label" for="materialChecked"  id="pild"><b>D. </b>' + questions[i].d + '</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" type="button" onclick="prevQuestion()"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button class="btn btn-primary border-success align-items-center btn-success" onclick="nextQuestion()" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>
    <script type="text/javascript">
                            var id = document.getElementById("module").value;
                            var questions = function () {
                                var tmp = null;
                                $.ajax({
                                    'async': false,
                                    'type': "GET",
                                    'global': false,
                                    'url': "../getQuestionById/" + id,
                                    'data': {id: id},
                                    'success': function (data) {
                                        tmp = data;
                                    }
                                });
                                return tmp;
                            }();
                            var currentQuestion = 0;
                            var userAnswer = new Object();
                            var answer = new Array();
                            function nextQuestion() {
                                currentQuestion++;
                                var radioValue = $("input[name='materialExampleRadios']:checked").val();
                                if (radioValue) {
                                    localStorage.setItem(currentQuestion, radioValue);
                                    console.log(localStorage.getItem(currentQuestion));
                                }
                                $(".materialExampleRadios").prop("checked", false);
                                //SET UNCHECK
                                $("#a").prop("checked", false);
                                $("#b").prop("checked", false);
                                $("#c").prop("checked", false);
                                $("#d").prop("checked", false);
                                //SET CHECK
                                $("#" + localStorage.getItem(currentQuestion) + "").prop("checked", true);
                                renderQuestion();
                            }
                            ;
                            function prevQuestion() {
                                currentQuestion--;
                                $("#a").prop("checked", false);
                                $("#b").prop("checked", false);
                                $("#c").prop("checked", false);
                                $("#d").prop("checked", false);
                                renderQuestion();
                            }
                            ;
                            renderQuestion();

                            function renderQuestion() {
                                for (var i = currentQuestion; i < currentQuestion + 1; i++) {
                                    var j = 1 + i;
                                    $('#number').text(j + ".");
                                    $('#id').val(questions[i].id);
                                    $('#question').text(questions[i].question);
                                    $('#pila').text("A. " + questions[i].a);
                                    $('#pilb').text("B. " + questions[i].b);
                                    $('#pilc').text("C. " + questions[i].c);
                                    $('#pild').text("D. " + questions[i].d);
                                }
                            }
//        function renderQuestion(){
//            for (var i = currentQuestion; i < currentQuestion+1; i++) {
//                    var j = 1+i;
//                $('#showQuestions').html(
//                '<div class="d-flex flex-row align-items-center question-title mb-1">\n\
//                    <h3 class="text-danger">'+j+'.</h3>\n\
//                    <h5 class="mt-1 ml-2">' + questions[i].question + '</h5>\n\
//                </div>\n\
//                <form action="" method="POST" class="was - validated">\n\
//                    <div class="form-check ml-3 mt-1">\n\
//                      <input type="radio" value="a" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">\n\
//                      <label class="form-check-label" for="materialUnchecked"><b>A. </b>' + questions[i].a + '</label>\n\
//                    </div>\n\
//                    <div class="form-check ml-3  mt-1">\n\
//                      <input type="radio" value="b" class="form-check-input" id="materialChecked" name="materialExampleRadios">\n\
//                      <label class="form-check-label" for="materialChecked"><b>B. </b>' + questions[i].b + '</label>\n\
//                    </div>\n\
//                    <div class="form-check ml-3 mt-1">\n\
//                      <input type="radio" value="c" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">\n\
//                      <label class="form-check-label" for="materialUnchecked"><b>C. </b>' + questions[i].c + '</label>\n\
//                    </div>\n\
//                    <div class="form-check ml-3 mt-1">\n\
//                      <input type="radio" value="d" class="form-check-input" id="materialChecked" name="materialExampleRadios">\n\
//                      <label class="form-check-label" for="materialChecked"><b>D. </b>' + questions[i].d + '</label>\n\
//                    </div>\n\
//                </form>');
//                }
//        }

    </script>
    <script>
        // Set the date we're counting down to
        var d = new Date();
        var v = new Date();
        v.setMinutes(d.getMinutes() + 40);
        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();
            // Find the distance between now and the count down date
            var distance = v - now;
            // Time calculations for minutes and seconds
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";
            // If the count down is over, write some text 
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>
</html>
