<!DOCTYPE html>
<html lang="en">

    <div th:replace="fragments/user-header :: head(title='User Dashboard')"></div>

    <body class="animsition">
        <div class="page-wrapper">
            <div th:replace="fragments/user-header :: header(title='Dashboard')"></div>
            <!-- PAGE CONTENT-->
            <div class="page-container3">
                <section class="alert-wrap p-t-10 p-b-10">
                    <div class="container">
                    </div>
                </section>
                <section class="m-t-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-3">
                                <div th:replace="fragments/user-header :: sidebar"></div>
                            </div>
                            <div class="col-xl-9">
                                <!-- PAGE CONTENT-->
                                <div class="page-content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- RECENT REPORT-->
                                            <div class="card text-center">
                                                <div class="card-header">
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">Register Exam</h5>
                                                    <p class="card-text m-b-30">Select category below</p>
                                                    <form th:object="${module}" method="POST" th:action="@{/exam-registeration}">
                                                        <select class="form-control m-b-30 p-30" id="exampleFormControlSelect1" th:field="*{id}">
                                                            <option th:each = "as : ${modules}" th:value='${as.id}' th:text='${as.name}'></option>
                                                        </select>
                                                    
                                                        <button type="submit" class="btn btn-primary">Register</button>
                                                    </form>
                                                </div>
                                                <div class="card-footer text-muted">
                                                </div>
                                            </div>
                                            <!-- END RECENT REPORT-->
                                        </div>
                                    </div>
                                    <div th:replace="fragments/user-footer :: footer"> </div>
                                </div>
                                <!-- END PAGE CONTENT-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END PAGE CONTENT  -->

        </div>

        <div th:replace="fragments/user-footer :: script"></div>

    </body>

</html>
<!-- end document-->