<!-- Modal -->
<div th:fragment="modal" class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Quesion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="insertForm" th:object="${ques}">
                <div class="modal-body">

                    <label id="labelId">Id :</label>
                    <input type="text" id="textId" class="form-control" th:field="*{id}">
                    <label id="labelQuestion">Question :</label>
                    <input type="text" id="textQuestion" class="form-control" th:field="*{question}">
                    <label id="labelA">A :</label>
                    <input type="text" id="textA" class="form-control" th:field="*{a}">
                    <label id="labelB">B :</label>
                    <input type="text" id="textB" class="form-control" th:field="*{b}">
                    <label id="labelC">C :</label>
                    <input type="text" id="textC" class="form-control" th:field="*{c}">
                    <label id="labelD">D :</label>
                    <input type="text" id="textD" class="form-control" th:field="*{d}">
                    <label id="labelAge">Answer :</label>
                    <input type="text" id="textAnswer" class="form-control" th:field="*{answer}">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" onclick="saveQuestion()">Save changes</a>
                </div>
            </form>
        </div>
    </div>
</div>