<!-- Modal -->
<div th:fragment="modal" class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Quesion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="insertForm">
                <div class="modal-body">
                    <label id="labelId">Id :</label>
                    <input type="text" id="textId" class="form-control">
                    <label id="labelQuestion">Question :</label>
                    <input type="text" id="textQuestion" class="form-control">
                    <label id="labelA">A :</label>
                    <input type="text" id="textA" class="form-control">
                    <label id="labelB">B :</label>
                    <input type="text" id="textB" class="form-control">
                    <label id="labelC">C :</label>
                    <input type="text" id="textC" class="form-control">
                    <label id="labelD">D :</label>
                    <input type="text" id="textD" class="form-control">
                    <label id="labelAnswer">Answer :</label>
                    <input type="text" id="textAnswer" class="form-control">
<!--                    <label id="labelActive">Is_Active :</label>
                    <input type="text" id="textActive" class="form-control">-->
                    <label id="labelModule">Module :</label>
                    <select class="form-control" id="textModule">
                        <option>-- Select Module --</option>
                        <option th:each = "as : ${modules}" th:value='${as.id}' th:text='${as.name}'></option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" onclick="saveQuestion()">Save changes</a>
                </div>
            </form>
        </div>
    </div>
</div>